<h2>Membership: {{ object }}</h2>
<ul>
    <li>membership_name: {{ object.membership_name }}</li>
    <li>address1: {{ object.address1 }}</li>
    <li>address2: {{ object.address2 }}</li>
    <li>city: {{ object.city }}</li>
    <li>state: {{ object.state }}</li>
    <li>zip: {{ object.zip }}</li>
    <li>year_joined: {{ object.year_joined }}</li>
    <li>membership_type: {{ object.membership_type }}</li>
    <li>last_payment_date: {{ object.last_payment_date }}</li>
    <li>posted_date: {{ object.posted_date }}</li>
    <li>active: {{ object.active }}</li>
    <li>receive_snail_mail: {{ object.receive_snail_mail }}</li>
    <li>boats: {% for boat in object.boats.all %}{{ boat }}&nbsp;{% endfor %}</li>
</ul>

<a href="{% url 'membership_list' %}">See all Memberships</a>